<h2>List of ratings</h2>
<p> Number of ratings: <%= @ratings.count %> </p>
<table>
  <tbody>
  <% unless @ratings.empty? %>
      <ul>
        <% @ratings.each do |rating| %>
            <li> <%= rating %> <%= link_to rating.user.username, rating.user_path %> </li>
        <% end %>
      </ul>
  <% end %>
  <%= link_to 'New rating', new_rating_path %>
  </tbody>

</table>
